

@font-face {
  font-family: MoskNormal;
  src: url("fonts/Mosk Normal 400.ttf");
}

@font-face {
  font-family: MoskBold;
  src: url("fonts/Mosk Bold 700.ttf");
}

/* start of border body stuff*/
#top, #bottom, #left, #right {
	background: #467cff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
    z-index: 10000;
    animation-name: border-top;
    animation-duration: 1s ease;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
    z-index: 10000;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }



@media

    /* Fairly small screens including iphones */


    only screen and (max-width: 900px)  {
    	#top, #bottom { height: 10px;}

     #left, #right { width: 10px; }

    button {
      width: 70% !important;
    }

    .content {
      padding-top: 50px !important; 
      padding-bottom: 50px;
    }
    }



/*End of Border Body*/
span.highlight {
  background-color: #2768ff;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 5px;
  color: white;
  font-family: MoskBold;
  overflow: hidden;
  white-space: nowrap;
}

body ::selection {
  background-color: #CED8F6;
  color: #2768ff;
}
.content {
    padding-top: 5%;
    text-align: center;
}

::selection {
  background-color: white;
}
.site-cover {
  background-color: white;
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  animation-name: sitefade;
  animation-duration: 2s;
}




body {
  margin: 0;
  padding: 0;
  font-family: MoskNormal;

}
h1 {
  margin: 0;
  padding: 0;
  font-family: MoskBold;
  font-size: 250%;
}

h2 {
  font-family: MoskBold;
  font-weight: normal;
}

h2.link:hover {
  font-family: MoskNormal;
  font-size: 100%;
  color: dimgrey;
  border-bottom: solid 2px dimgrey;
}



@keyframes sitefade {
  from {opacity: 1; z-index: 10;}
  to {opacity: 0;z-index: 20;}
}


@keyframes border-top {
  from {width: 0px;z-index: 10000;}
  to {width: 20px;z-index: 10000;}
}

p {
  font-family: MoskNormal;
  font-size: 100%;
}

a {
  font-family: MoskNormal;
  font-size: 100%;
  color: #2768ff;
  border-bottom: solid 2px #2768ff;
  text-decoration: none;
}


button {
  font-family: MoskBold;
  color: #2768ff !important;
  border: none;
  padding: 10px;
  font-size: 120%;
  margin: 5px;
  border-radius: 5px;
  background-color: #b2c5fa;
  color: white;
  width: 400px;
  transition: ease 0.2s;
  cursor: pointer;
}

button:hover {
  color: white !important;
  background-color: #2768ff !important;
}
a.plain {
  border-bottom: 0px;
  color: black;
  font-family: MoskNormal;
  font-size: 100%;
}

a.plain:hover {
  color: black;
  border-bottom: none;
}

a:hover {
  font-family: MoskNormal;
  font-size: 100%;
  color: dimgrey;
  border-bottom: solid 2px dimgrey;
}
